<ion-view view-title="Newtown Business Club" >
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="has-footer">
		<div class="hero slide-up" style="background-image: url(http://www.noboundstech.com/businessclub/assests/img/Eastern_High_-_Rajarhat_2012-04-11_9385.JPG');">
           
        </div>
        <div class="content" style="padding-top:6%;">
		  <h3 style="color:#004f92;padding-left:6%;">New Town, Kolkata</h3>
		  <h5 style="color:#bbb;padding-left:6%;padding-right:6%;">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis, ex ut lacinia facilisis, dui lectus facilisis mauris, id mattis nunc dui eu purus. Morbi non ipsum ante. Sed tortor leo, imperdiet eget nibh sit amet, dictum ornare nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque consequat nulla sit amet ornare vestibulum. Curabitur finibus pellentesque erat id malesuada. Nam eu volutpat nulla. Praesent luctus tempus massa at consequat. Quisque non arcu quis est consectetur pharetra.
		  </h5>		  
		</div>
		<div id="map" data-tap-disabled="true"></div>
    </ion-content>
	<div class="tabs tabs-icon-top " style="height:12%;">
            <a ui-sref="app.home" class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-earth" style="font-size: 24px;"></i> In Around
            </a>
            <a  class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-android-pin" style="font-size: 24px;"></i> Places
            </a>
            <a  class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-pricetag" style="font-size: 24px;"></i> Deals
            </a>
			 <a ui-sref="app.localevent" class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-calendar" style="font-size: 24px;"></i> Events
            </a>
        </div>
</ion-view>
