<ion-view view-title="Events">
	<ion-content class="has-footer"  ng-controller="LocalEventControler">
		<div class="list" >
		<a class="item" href="#" style="border-bottom: 1px solid #c2c2c2;padding-bottom:10px;padding-top:12px;padding-right:2px" >
				<div class="row row-pad" style="padding-bottom:0px;" >
					<div class="col col-70" ">
					
						<h3 class="news-title"><!--{{x.event_head}}-->Mudra Dance Festival</h3>
						<span class="date-time"><!--{{x.date| date :'dd/MM/yyyy'}}&nbsp; {{x.weak}} &nbsp; {{ x.date | date : 'hh:mm a' }}--> 	03/05/2017  Wed   01:02 AM</span>
					</div>
					<div class="col col-30 " style="padding:0px!important;text-align:right;">
							
							
					</div>
				</div>
				<div class="row">
					<div class="col ">
						<p class="news-details">An annual summer event, Mudra Dance Festival takes place in the artistic city of Kolkata. </p>
			
					</div>
				</div>	
			</a>
			<a class="item" href="#" style="border-bottom: 1px solid #c2c2c2;padding-bottom:10px;padding-top:12px;padding-right:2px" >
				<div class="row row-pad" style="padding-bottom:0px;" >
					<div class="col col-70" ">
					
						<h3 class="news-title"><!--{{x.event_head}}-->Film Festival</h3>
						<span class="date-time"><!--{{x.date| date :'dd/MM/yyyy'}}&nbsp; {{x.weak}} &nbsp; {{ x.date | date : 'hh:mm a' }}--> 	03/05/2017  Wed   01:02 AM</span>
					</div>
					<div class="col col-30 " style="padding:0px!important;text-align:right;">
							
							
					</div>
				</div>
				<div class="row">
					<div class="col ">
						<p class="news-details"> Dharamsala Film Festival was conceived by its creators, Julien L. Balmer and Monika Nataraj, as a means of bringing high-quality contemporary, independent cinema to the culturally diverse location of New Town.</p>
			
					</div>
				</div>	
			</a>
			<a class="item" href="#" style="border-bottom: 1px solid #c2c2c2;padding-bottom:10px;padding-top:12px;padding-right:2px" >
				<div class="row row-pad" style="padding-bottom:0px;" >
					<div class="col col-70" ">
					
						<h3 class="news-title"><!--{{x.event_head}}-->Diwali – The Festival of Lights</h3>
						<span class="date-time"><!--{{x.date| date :'dd/MM/yyyy'}}&nbsp; {{x.weak}} &nbsp; {{ x.date | date : 'hh:mm a' }}--> 	04/05/2017  Wed   11:02 AM</span>
					</div>
					<div class="col col-30 " style="padding:0px!important;text-align:right;">
							
							
					</div>
				</div>
				<div class="row">
					<div class="col ">
						<p class="news-details">India’s most atmospheric holiday of the year, Diwali is known as the festival of lights. Over a period of five days, celebrating the start of the Hindu New Year.</p>
			
					</div>
				</div>	
			</a>
			</div>
	 </ion-content>
	  <div class="tabs tabs-icon-top " style="height:12%;">
            <a ui-sref="app.home" class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-earth" style="font-size: 24px;"></i> In Around
            </a>
            <a  class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-android-pin" style="font-size: 24px;"></i> Places
            </a>
            <a  class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-pricetag" style="font-size: 24px;"></i> Deals
            </a>
			 <a ui-sref="app.localevent" class="tab-item" style="padding-top:4%; line-height:4%;  font-size: 11px;">
                <i class="icon ion-calendar" style="font-size: 24px;"></i> Events
            </a>
        </div>
</ion-view>