 <ion-content class="has-header has-footer" ng-controller="MemberControler">
	<div class="list" ng-init="news_fun()" >
	<a class="item" href="#" style="border-bottom: 1px solid #c2c2c2;padding-bottom:10px;padding-top:12px;padding-right:2px" ng-repeat="x in data.result">
			<div class="row row-pad" style="padding-bottom:0px;" >
				<div class="col col-70" ">
				
					<h3 class="news-title">{{x.news_head}}</h3>
					<span class="date-time">	{{x.date| date :'dd/MM/yyyy'}}&nbsp; {{x.weak}} &nbsp; {{ x.date | date : 'hh:mm a' }}</span>
				</div>
				<div class="col col-30 " style="padding:0px!important;text-align:right;">
						
							
								<i class="ion-thumbsup "  ng-click="likedislike_fun(x.news_id,'L',$index,'N'); disable_like=true; disable_dislike=false;"  ng-class="{'like-active': x.reaction == 'like','like-ico': x.reaction == 'dislike' || x.reaction == 'no_reaction'}" ng-disabled="disable_like">&nbsp; {{x.totalLike}} &nbsp;&nbsp;</i>
								<i class="ion-thumbsdown "  ng-click="likedislike_fun(x.news_id,'D',$index,'N'); disable_like=false; disable_dislike=true;" ng-class="{'like-active': x.reaction == 'dislike','like-ico': x.reaction == 'like' || x.reaction == 'no_reaction'}" ng-disabled="disable_dislike">&nbsp; {{x.totalDisLike}}</i>
							
						
				</div>
			</div>
			<div class="row">
				<div class="col ">
					<p class="news-details">{{x.news_desc}}<!--Good News avail 20% discount on food & stay<br> at Eco Island...--></p>
				</div>
			</div>	
		</a>	
	</div>
 </ion-content>