	<div ng-controller="RulesControler">
		<div class="list" ng-init="rules_fun()" >
		<a class="item" href="#" style="border-bottom: 1px solid #c2c2c2;padding-bottom:10px;padding-top:12px;padding-right:2px" ng-repeat="x in data.result" >
				<div class="row row-pad" style="padding-bottom:0px;" >
					<div class="col col-70" ">
					
						<h3 class="news-title">{{x.cl_rule_head}}</h3>
						<span class="date-time">{{x.date| date :'dd/MM/yyyy'}}&nbsp; {{x.weak}} &nbsp; {{ x.date | date : 'hh:mm a' }}</span>
					</div>
					<div class="col col-30 " style="padding:0px!important;text-align:right;">
							
							
					</div>
				</div>
				<div class="row">
					<div class="col ">
						<p class="news-details">{{x.cl_rule_detail}}</p>
			
					</div>
				</div>	
			</a>		
		</div>
	</div>
		