
	<div ng-controller="SugestionControler">
		<div class="content" align="center" style="padding-top:4%;">
		  <h3>Suggestion</h3>
		</div>
	
		<div class="list" style=";padding-right: 20px;">
		  <label class="item item-input">
			<input type="text" class="text-box-resize" placeholder="Subject" ng-model="sugestion.suggestion_head">
		  </label>
		  <label class="item item-input">
			<textarea  cols="4" rows="6" class="text-area-resize" placeholder="Suggestion" ng-model="sugestion.suggestion"></textarea>
		  </label>
		</div>
		<p class="err-msg" ng-if="sugestion_error != ''">{{sugestion_error}}</p>
		<div class="padding">
            <button class="button button-full" ng-click="sugestion_fun()"  style="background-color: #67b845;color: #fff; border-radius:5px;">Submit</button>
        </div>
	</div>